body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
}

.side{
    height: 100%;
    width: 35%;
    background-color: aqua;
}

.banner {
    position: relative;
    background-color: firebrick;
}

.main{
    height: 100%;
    width: 65%;
    background-color: bisque;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main > div:nth-child(odd) {
    background-color: lightsteelblue;
}

.main > div:nth-child(even) {
    background-color: dodgerblue;
}
